<section>
  <h1>hello world</h1>
</section>

{% schema %}
{
  "name": "Main Product",
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Hello World"
        }
      ]
    }
  ]
}
{% endschema %}
